<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cartoons</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>MY FAVOURITE CARTOON SHOWS</h1>
    </header>
    <main>
        <div class="main-box">
            <div class="box">
                <div class="image">
                    <img src="courage.jpeg" alt="Image is lodding..." class="shows">
                </div>
                <div class="image">
                    <img src="johnny.jpeg" alt="Image is lodding..." class="shows">
                </div>
                <div class="image">
                    <img src="zig-and-sharko.jpeg" alt="Image is lodding..." class="shows">
                </div>
            </div>
  
            <div class="box">
                <div class="image">
                    <img src="popeye.jpeg" alt="Image is lodding..." class="shows">
                </div> 
                <div class="image">
                    <img src="power-rangers.webp" alt="Image is lodding..." class="shows">
                </div>
                <div class="image">
                    <img src="tom-&-jerry.jpeg" alt="Image is lodding..." class="shows">
                </div>
            </div>
        </div>
    </main>
    
</body>
</html>